ÔĽŅ@model IEnumerable<DocManagement.Models.Document>

@{
    ViewData["Title"] = "S…ôn…ôdl…ôr";
}

<h1>S…ôn…ôdl…ôr</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni S…ôn…ôd</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>BaŇülńĪq</th>
            <th>No</th>
            <th>Tarix</th>
            <th>QatarńĪn G…ôliŇü VaxtńĪ</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Title</td>
                <td>@d.DocumentNumber</td>
                <td>@d.CreatedAt.ToShortDateString()</td>
                <td>@d.TrainArrivalTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@d.Id">D√ľz…ônl…ô</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@d.Id">Sil</a>
                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@d.Id">∆ŹtraflńĪ</a>
                </td>

            </tr>
        }
    </tbody>
</table>
